@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
  }

  /* Share style */
header, main, footer{
    max-height: 1200px;
}

.display-flex{
    display: flex;
}

  /* header style */
  /* navbar */
  .navbar{
    max-width: 1050px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .nav-title{
    font-size: 1.88rem;
    font-weight: 700;
    color: #E6533C;
  }

  .nav-links{
    align-items: center;
  }

  .nav-items{
    list-style: none;
    margin-right: 30px;
  }

  .nav-link, .nav-button{
    text-decoration: none;
    color: white;
  }

  .nav-button{
    padding: 6px 16px;
    font-weight: 600;
    border-radius: 45px;
    background-color: #E6533C;
  }

  /* Get body in shape & stay healthy */
  .body-shape{
    max-width: 1050px;
    margin: 30px auto;
    justify-content: space-between;
  }

  .body-div{
    max-width: 435px;
  }

  .body-title{
    font-size: 4.06rem;
    font-weight: 800;
    margin-bottom: 30px;
  }

  .body-description{
    font-size: 0.88rem;
    margin-bottom: 30px;
  }

  .primary-btn, .primary-btn1{
    color: white;
    font-weight: 600;
    border-radius: 40px;
    padding: 14px 34px;
    background-color: #E6533C;
    border: none;
  }

  .primary-btn1{
    background-color: black;
    border: 1px solid white;
    margin-left: 40px;
  }

  

  .body-image{
    max-width: 292px;
  }