@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
  }

  /* Share style */
header, main, footer{
    max-height: 1200px;
}

section{
  max-width: 1050px;
}

.display-flex{
    display: flex;
}

.text-light{
  font-size: 0.88rem;
  color: rgba(255, 255, 255, 0.5);
}

  /* header style */
  /* navbar */
  .navbar{
    max-width: 1050px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .nav-title{
    font-size: 1.88rem;
    font-weight: 700;
    color: #E6533C;
  }

  .nav-links{
    align-items: center;
  }

  .nav-items{
    list-style: none;
    margin-right: 30px;
  }

  .nav-link, .nav-button{
    text-decoration: none;
    color: white;
  }

  .nav-button{
    padding: 6px 16px;
    font-weight: 600;
    border-radius: 45px;
    background-color: #E6533C;
  }

  /* Get body in shape & stay healthy */
  .body-shape{
    max-width: 1050px;
    margin: 30px auto;
    justify-content: space-between;
  }

  .body-div{
    max-width: 435px;
  }

  .body-title{
    font-size: 4.06rem;
    font-weight: 800;
    margin-bottom: 30px;
  }

  .body-description{
    font-size: 0.88rem;
    margin-bottom: 30px;
  }

  .primary-btn, .primary-btn1{
    color: white;
    font-weight: 600;
    border-radius: 40px;
    padding: 14px 34px;
    background-color: #E6533C;
    border: none;
  }

  .primary-btn1{
    background-color: black;
    border: 1px solid white;
    margin-left: 40px;
  }

  .body-image{
    max-width: 292px;
  }

  .body-card1{
    max-width: 150px;
    padding: 18px;
    border: 1px solid rgb(40, 39, 39);
    border-radius: 6px;
    backdrop-filter: blur(25px);
    gap: 10px;
    align-items: center;
    margin-left: -120px;
    margin-top: -150px;
    position: relative;
  }

  .card1-color{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #E6533C;
  }

  #card1-title{
    font-size: 1.2rem;
    font-weight: 700;
  }

  .body-card2{
    max-width: 150px;
    padding: 18px;
    border: 1px solid rgb(40, 39, 39);
    border-radius: 6px;
    backdrop-filter: blur(25px);
    margin-left: 200px;
    margin-top: -300px;
    position: relative;
  }

  #card2-title{
    font-size: 1.7rem;
    font-weight: 700;
  }

  /* Change Your Habits */
  .habits{
    margin: 100px auto;
  }

  .habits-body{
    text-align: center;
    margin-bottom: 50px;
  }

  .habits-title{
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0 auto;
  }

  .habit-img{
    gap: 100px;
  }

  .habit-div{
    max-width: 195px;
    text-align: center;
  }

  .habit-div > img{
    max-width: 160px;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  .habit-title{
    font-weight: 600;
    margin-bottom: 10px;
  }

  /* Run an Extra Mile Easily */
  .run{
    max-width: 1050px;
    background-color: rgb(40, 39, 39);
    border-radius: 20px;
    padding: 50px;
    margin: auto;
    justify-content: space-between;
  }

  .run-description{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .run-div > img{
    max-width: 365px;
    max-height: 310px;
    border-radius: 10px;
  }

  .run-div{
    max-width: 365px;
    margin: 0;
  }

  /* Trainings and Exercises */
  .training{
    margin: 100px auto;
  }

  .training-details{
    max-width: 570px;
  }

  .training-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    object-fit: cover;
  }

  .training-img > img{
    max-width: 100%;
    
  }

  /* BMI Calculator */
  .bmi-calculator{
    text-align: center;
    margin: auto;
  }

  .bmi-details{
    max-width: 570px;
    margin: auto;
  }

  .main-calculation{
    background-color: rgb(50, 47, 47);
    max-width: 100%;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .main-div{
    max-width: 1050px;
    margin: auto;
    justify-content: space-between;
  }

  .calculation-chart{
    text-align: center;
  }



  /* Calculation */
table{
  border-collapse: collapse;
}

.chart-title{
  font-size: 1.8rem;
  margin-bottom: 20px;
}

th{
  border: 1px solid rgb(92, 86, 86);
  padding: 8px 35px;
  font-size: 0.88rem;
  font-weight: 600;
  text-align: center;
}

td{
  border: 1px solid rgb(92, 86, 86);
  padding: 8px 35px;
  font-size: 0.85rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.bmi-calculation{
  max-width: 575px;
}

/* Meet Our Team */
.team{
  margin: 100px auto;
}

.team-details{
  width: 560px;
  margin: auto;
  align-items: center;
  text-align: center;
}

/* footer part*/


  /* Small device */
  @media screen and (max-width: 576px) {
    .nav-links{
      display: none;
    }

  .body-shape,
  .habit-img,
  .run
  {
    flex-direction: column;
  }

  .body-title{
    margin-top: 0;
  }

  .body-card1{
    margin-left: 0;
  }

  .body-img > .body-image{
    margin-left: 40px;
  }

    .primary-btn1{
      margin-left: 15px;
    }

    .habits{
      margin-top: 350px;
    }

    .habit-img{
      align-items: center;
      gap: 40px;
    }

    .run{
      gap: 20px;
    }

    .run-div > img{
      max-width: 265px;
      max-height: 210px;
    }
  }