@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
  }

  /* Share style */
header, main, footer{
    max-height: 1200px;
}

section{
  max-width: 1050px;
}

.display-flex{
    display: flex;
}

.text-light{
  font-size: 0.88rem;
  color: rgba(255, 255, 255, 0.5);
}

  /* header style */
  /* navbar */
  .navbar{
    max-width: 1050px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .nav-title{
    font-size: 1.88rem;
    font-weight: 700;
    color: #E6533C;
  }

  .nav-links{
    align-items: center;
  }

  .nav-items{
    list-style: none;
    margin-right: 30px;
  }

  .nav-link, .nav-button{
    text-decoration: none;
    color: white;
  }

  .nav-button{
    padding: 6px 16px;
    font-weight: 600;
    border-radius: 45px;
    background-color: #E6533C;
  }

  /* Get body in shape & stay healthy */
  .body-shape{
    max-width: 1050px;
    margin: 30px auto;
    justify-content: space-between;
  }

  .body-div{
    max-width: 435px;
  }

  .body-title{
    font-size: 4.06rem;
    font-weight: 800;
    margin-bottom: 30px;
  }

  .body-description{
    font-size: 0.88rem;
    margin-bottom: 30px;
  }

  .primary-btn, .primary-btn1{
    color: white;
    font-weight: 600;
    border-radius: 40px;
    padding: 14px 34px;
    background-color: #E6533C;
    border: none;
  }

  .primary-btn1{
    background-color: black;
    border: 1px solid white;
    margin-left: 40px;
  }

  .body-image{
    max-width: 292px;
  }

  .body-card1{
    max-width: 150px;
    padding: 18px;
    border-radius: 6px;
    background-color: rgb(40, 39, 39);
    gap: 10px;
    align-items: center;
    margin-left: -120px;
    margin-top: -150px;
    position: relative;
  }

  .card1-color{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #E6533C;
  }

  #card1-title{
    font-size: 1.2rem;
    font-weight: 700;
  }

  .body-card2{
    max-width: 150px;
    padding: 18px;
    border-radius: 6px;
    background-color: rgb(40, 39, 39);
    margin-left: 200px;
    margin-top: -300px;
    position: relative;
  }

  #card2-title{
    font-size: 1.7rem;
    font-weight: 700;
  }

  /* Change Your Habits */
  .habits{
    margin: 100px auto;
  }

  .habits-body{
    text-align: center;
    margin-bottom: 50px;
  }

  .habits-title{
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0 auto;
  }

  .habit-img{
    gap: 100px;
  }

  .habit-div{
    max-width: 195px;
    text-align: center;
  }

  .habit-div > img{
    max-width: 160px;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  .habit-title{
    font-weight: 600;
    margin-bottom: 10px;
  }

  /* Run an Extra Mile Easily */
  .run{
    max-width: 1050px;
    background-color: rgb(40, 39, 39);
    border-radius: 20px;
    padding: 50px;
    margin: auto;
    justify-content: space-between;
  }

  .run-description{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .run-div > img{
    max-width: 365px;
    max-height: 310px;
    border-radius: 10px;
  }

  .run-div{
    max-width: 365px;
    margin: 0;
  }

  /* Small device */
  @media screen and (max-width: 576px) {
    .nav-links{
      display: none;
    }

  .body-shape,
  .habit-img,
  .run
  {
    flex-direction: column;
  }

  .body-title{
    margin-top: 0;
  }

  .body-card1{
    margin-left: 0;
  }

  .body-img > .body-image{
    margin-left: 40px;
  }

    .primary-btn1{
      margin-left: 15px;
    }

    .habits{
      margin-top: 350px;
    }

    .habit-img{
      align-items: center;
      gap: 40px;
    }

    .run{
      gap: 20px;
    }

    .run-div > img{
      max-width: 265px;
      max-height: 210px;
    }
  }